@model ProyectoProgramado3.Models.PlaceProductModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlaceProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idProduct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idPlace)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.idPlace }) |
    @Html.ActionLink("Back to List", "Index")
</p>
