@model IEnumerable<ProyectoProgramado3.Models.ProductModel>

@{
    ViewBag.Title = "RemoveProduct";
}

<h2>RemoveProduct</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.ActionLink("Remove this Product", "RemoveProduct", new { id=item.idProduct })
        </td>
    </tr>
}

</table>
